*{
    padding: 0;
    margin: 0;
}
.header-meio{
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
}

.footer-meio{
    display: flex;
    justify-content: center;
}

img{
    padding: 8px;
}
